<a href="https://colab.research.google.com/github/krzysztof-siedlecki/Pandas_Basics/blob/main/Pandas_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#creating series from Python Lists
series = pd.Series([4,5,6])
series = pd.Series([4.5,5.7,6.8])
series = pd.Series([True,False,True])
series = pd.Series(["1","2","3"])
series = pd.Series([4,5,6,'Name'])
series = pd.Series([1,2,3, None,np.nan])
series = pd.Series([1,2,3, None,np.nan,"name"])
series = pd.Series(([1,2,3]),dtype=np.float32)
print(series)

0    1.0
1    2.0
2    3.0
dtype: float32

In [ ]:
#creating series from Python Dictionaries
series = pd.Series({'a':1,'b':2,'c':3})
series = pd.Series({'a':True,'b':False,'c':False})
series = pd.Series({'a':1.5,'b':2.7,'c':3.2})
series = pd.Series({'a':'1','b':'2','c':'3'})
series = pd.Series([1,2,3], index=['a','b','c'])
series = pd.Series(10,index=[0,1,2,3,4])
series = pd.Series(10, index = ["a","b","c"])
#Numpy
series = pd.Series(np.array([1,2,3]))
numpy_series = series.to_numpy()
print(type(series))
print(type(numpy_series))
print(numpy_series)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
[1 2 3]

In [ ]:
#Data ranges and DateTime dtype
dates = pd.date_range('20200301', periods=10)
dates = pd.date_range('20200301', periods=10,freq='4H')
dates = pd.date_range('20200301', '20200302',periods=10)

dates = pd.date_range('20200301', periods=5)
series = pd.Series(([1,2,3,4,5]), index = dates)

date_series = pd.Series(dates)
days = date_series.dt.year
print(days)

0    2020
1    2020
2    2020
3    2020
4    2020
dtype: int64

In [ ]:
#Getting single elements from Series
series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

first = series[0]
first = series['a']
last = series[4]
last = series['e']
last = series[-1]

tenth = series.get(9)
tenth = series.get('j', default = 0)
print(tenth)

#print(type(last))
#print(first)
#print(last)

0

In [ ]:
#Getting elements from Series via slicing
series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

last = series[-1:]
three = series[:3]
three = series[2:]
three = series[1:4]
three = series[[0,1,2]]
three = series[['a','b','c']]
shuffled = series [[4,1,3,0,2]]
shuffled = series [['b','a','e','c','d',]]
gt3 = series[series > 3]
gt3 = series[series > 6]

indexes = series.index
values = series.values
pandas_array = series.array

print(pandas_array)

<PandasArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: int64

In [ ]:
#Getting properties of Series
series = pd.Series([1,2,3,4,5,4,2,3,1,1])

series_count = series.count()
series_max = series.max()
series_min = series.min()
description = series.describe()
series_sum = series.sum()
n_largest = series.nlargest(2)
n_smallest = series.nsmallest(2)

max_index = series.idxmax()
min_index = series.idxmin()

histogram = series.value_counts()

series = pd.Series(['a','b','c'])
description = series.describe()
series = pd.Series([True, False, False])
description = series.describe()
all_true = series.all()
any_true = series.any()

print(all_true)
print(any_true)

False
True

In [ ]:
#Series Modification

series = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})
#Adding
series['f'] = 6
new_series = series.append(pd.Series({'g':7,'h':8,'i':9}))

#Removing
del series['a']
new_series = series.drop(['e','f'])
popped = series.pop('b')
print(series)
print(popped)

c    3
d    4
e    5
f    6
dtype: int64
2

<ipython-input-87-34101085694e>:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_series = series.append(pd.Series({'g':7,'h':8,'i':9}))

In [ ]:
#Series Modification
series = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})
#Modifying elements
series[0] = 0
series['e'] = 6
series[:3] = 10
series[:3] = [11,12,13]
series = series.rename('Series1')
series = series.rename(str.upper)
series = series.reindex(['B', 'A', 'E', 'C', 'D'])
series['A'] = 'fasfaf'
series = series.reindex(['B', 'A', 'E', 'C', 'D', 'F', 'Z'])

print(series)

B        12
A    fasfaf
E         6
C        13
D         4
F       NaN
Z       NaN
Name: Series1, dtype: object

In [17]:
#Operation on Series

series_1 = pd.Series([1,2,3,4,5,np.nan])
series_2 = pd.Series([5,2,4,1,np.nan,3])
#Comparisons
comp = series_1 > series_2
comp = series_1.eq(series_2,fill_value=3)
comp = series_1.equals(series_2)
comp = series_1[0] > series_2[3]
comp = series_1 >= 5

#Iteration
is_in = 4 in series_1
#for key, value in series_1.items():
#  print(key)
#  print(value)

for value in series_1:
  print(value)

1.0
2.0
3.0
4.0
5.0
nan

In [29]:
#Creating DataFrame

df = pd.DataFrame([1,2,3], dtype=np.float16)
df = pd.DataFrame(['a','b','c'])
df = pd.DataFrame([False,True,False])
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame([[1,2,3,4],[5,6],[7,8,9]])

df = pd.DataFrame(5, index =[0,1], columns=[0,1,2])

print(df)

   0  1  2
0  5  5  5
1  5  5  5

In [46]:
#Creating DataFrames with Dictionaries and Series
df = pd.DataFrame(5, index =['a','b'], columns=['col1', 'col2', 'col3'])
df = pd.DataFrame([1,2,3], index=['a','b','c'])
df = pd.DataFrame([[1,2],[3,4],[5,6]], index=['row1','row2','row3'],columns=['a','b'])

#Dictionaries
df = pd.DataFrame({'col1': [1,2,3], 'col2':[3,4,5]}, index=['row1','row2','row3'])
df = pd.DataFrame({'col1': {'row1':1, 'row2':2, 'row3':3}, 'col2':{'row1':4, 'row2':5, 'row3':6}})
df = pd.DataFrame({'col1': {'row1':1, 'row2':2, 'row3':3}, 'col2':{'row4':4, 'row5':5, 'row6':6}})
df = pd.DataFrame({'col1': pd.Series([1,2,3]), 'col2': pd.Series([4,5,6])})


print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [69]:
#Getting Rows and Columns from DataFrames
df = pd.DataFrame({'col1': {'row1':1, 'row2':2, 'row3':3}, 'col2':{'row1':4, 'row3':5, 'row4':6,},'col3':{'row1':10, 'row2':8, 'row4':9}})
print(df)
print("---------------")
#Colums
first_col = df['col1']
first_col = df.col1
first_col = df.get('col1', default=pd.Series([1,2,3]))
#Rows
#iloc position index
#loc row label
first_row = df.loc['row1']
first_row = df.iloc[0]
#Single elements
first = df['col1'].loc['row1']
first = df['col1'].iloc[0]
first = df.loc['row1','col1']
first = df.iloc[0,0]

print(first)

      col1  col2  col3
row1   1.0   4.0  10.0
row2   2.0   NaN   8.0
row3   3.0   5.0   NaN
row4   NaN   6.0   9.0
---------------
1.0

In [90]:
df = pd.DataFrame({'col1': {'row1':1, 'row2':2, 'row3':3}, 'col2':{'row1':4, 'row3':5, 'row4':6,},'col3':{'row1':10, 'row2':8, 'row4':9}})
print(df)
print("---------------")

#Columns slicing
cols = df[['col1','col2']]
cols = df[['col3','col1','col2']]
#Rows slicing
rows = df.iloc[[0,1]]
rows = df.iloc[[2,3,1,0]]
rows = df.loc[['row1','row2']]
rows = df.loc[['row2','row4','row1','row3']]
rows = df.iloc[:2]
rows = df.iloc[1:3]
rows = df.iloc[-2:]
#Both
rows = df.iloc[::2]
rows = df.iloc[:2,:2]
#Booleans
rows = df[df['col1']>1]
rows = df[df['col2']>=5]
#First/last n rows
n_rows = df.head(2)
n_rows = df.tail(2)
print(n_rows)

      col1  col2  col3
row1   1.0   4.0  10.0
row2   2.0   NaN   8.0
row3   3.0   5.0   NaN
row4   NaN   6.0   9.0
---------------
      col1  col2  col3
row3   3.0   5.0   NaN
row4   NaN   6.0   9.0